<div style="border-radius: 16px; border: 1px solid #fff; background-color: rgba(37,37,37,0.8); overflow:hidden;">
    <div style="height:40px; overflow: hidden;">
        <table class="table highlighted">
            <th>
                <small ng-repeat="calendar in cal.calendars">
            <label>
                <input type="checkbox" ng-model="calendar.visible" ng-change="cal.toggleVisibility(calendar)" value="calendar.name">
                <span style="color:{{calendar.color}};"></span> {{calendar.name}}
            </label>
        </small>
                <button ng-click="cal.reload()" style="background-color: transparent; border:none;" class="icon-arrows-cw pull-right">
                </button>
            </th>
        </table>
    </div>
    <div style="overflow-y:auto; height:80%; margin-bottom:-25px;">
        <table class="table table-hover">
            <tbody>
                <tr ng-if="(searchController.search.length > 0 || event.visible)" event ng-repeat="event in cal.events | stringContainsAllOf:searchController.search:'searchKey' | orderBy:'parsedStart'" ng-mouseenter="eventController.mouseenter()" ng-mouseleave="eventController.mouseleave()">
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div style="border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; border: 1px solid #fff; height:25px;"> -->
        
    <!-- </div> -->
</div>

