<td>
    <div ng-if="event.newDateHeader" style="background-color:#EEE8D5; color:#B58900; margin-left:-8px; margin-right:-8px; margin-top:-8px; text-indent:8px;">
        {{event.dateString}}
    </div>
    <div ng-if="!event.newDateHeader" style="height:0px; margin-top:-10px;">
    </div>
    <div style="height:32px;">
        <small ng-show="eventController.hover" class="pull-right">
                <button ng-click="eventController.remove(event)"style="background-color: transparent; color:red; border:none; margin-top:10px;" class="icon-trash-empty">
                Delete
                </button>
            </small>
        <div ng-if="event.start.date" style="color:{{event.color}}; border:none; margin-top:8px; margin-right:8px;" class="icon-circle-full pull-left"></div>
        <div ng-if="event.start.dateTime" style="color:{{event.color}}; border:none; margin-top:8px; margin-right:8px;" class="icon-circle-empty pull-left"></div>
        <p style="padding-top:10px;">{{event.name}}</p>
    </div>
</td>
