
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-circle-empty:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e802'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */