@font-face {
    font-family: 'endo';
    src: url('../fontello/font/encal.woff?88669874') format('woff');
    font-weight: normal;
    font-style: normal;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span:before {
    font-family: 'endo';
    padding-right: 3px;
    font-size: 18px;
}

input[type="checkbox"] + span:before {
    content: '\e801';
}

input[type="checkbox"]:checked + span:before {
    content: '\e802';
}

.icon-circle-full:before {
    font-family: 'endo';
    font-size: 20px;
    content: '\e802';
}

.icon-circle-empty:before {
    font-family: 'endo';
    font-size: 20px;
    content: '\e801';
}

.icon-trash-empty:before {
    font-family: 'endo';
    content: '\e800';
    font-size: 16px;
}

.icon-arrows-cw:before {
    font-family: 'endo';
    content: '\e803';
    font-size: 16px;
}
